<p-carousel [value]="(products$ | async)!" [numVisible]="5" showIndicators="false" showNavigators="false">
    <ng-template let-product pTemplate="item">
        <div class="card flex justify-content-center">
            <p-card [header]="product.name" subheader="{{product.price | currency}}" [style]="{ width: '256px' }"
                class="cursor-pointer" [routerLink]="product.id.toString()" (click)="selectedProduct = product">
                <ng-template pTemplate="header">
                    <img alt="Card" [src]="product.imageUrl" />
                </ng-template>
            </p-card>
        </div>
    </ng-template>
</p-carousel>

<!-- <router-outlet (deactivate)="refreshList()"></router-outlet> -->

<app-edit-product *ngIf="selectedProduct" [product]="selectedProduct"
    (updatedProduct)="refreshList()"></app-edit-product>